body{
    background-color: rgb(153, 152, 122);
    margin: auto;
    font-family: Verdana;
}
.coco{
 
    text-align: center;
}
#left{
    min-height: 100vh;
    width:25%;
    background-color: rgb(241, 234, 241);
    border:rgb(241, 234, 241) solid 1px;
    border-radius: 1% 1%;
}
#center{
    text-align: center;
    text-decoration: underline;
    color: rgb(30, 34, 33);
}
.cv{
    border: 1px solid white;
    border-radius: 10% 10% 0% 0%;
    padding: 20px;
    margin: 5%;
}
